.homepageBackground {
  background-image: url(./images/homepage-background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
